p.lineup {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin: auto;
    text-align: center;
    line-height: 200px;
}


.lineup-banner {
    background:rgb(226, 11, 11) !important;
    width: 100%;
    height: 200px !important;
}

h1.lineup {
    color: white;
    font-family: 'Roboto', 'sans-serif';
    text-align:center;
    font-weight: bold;
    margin-top: 10px;
}

.faq-main {
    color: white;
    font-family: 'Calibri';
    font-size: 25px;
    text-align: center;
    position: relative;
    font-weight: bold;
}

.faq-p {
    padding-top: 80px;

}

hr {
    size: 15px;
    width: 50%;
}

p.faq-p:after {
    content : "";
    position: relative;
    bottom: 0;
    height  : 1px;
    width   : 50%;  /* or 100px */
    border-bottom: 3px solid white;
}

.sponsors-main {
    width: 100%;
    padding-top: 50px;
}

.sponsors-row1 {
    max-width: 80%;
    margin: auto;
}
.sponsor-pic {
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
    display: inline-block;
    padding: 30px;
}

img.sponsor {
    height: auto;
    width: 300px;
}
.sponsor1 {

}

.sponsor-pic {
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
}

img.sponsor {
    height: auto;
    width: 100px;
}

.sponsors {
    display: inline-block
}

.sponsors li {
    display: inline-block
}

.sponsors-div {
    text-align: center;
}