.navbar-default {
    background: white;
    color: red;
    border-radius: 0;
    font-weight: bold;
    font-family: 'Roboto', sans-serif,;
    height: 200px !important;
    border-radius: 0;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    z-index: 1000;
  }

.navbar-default .navbar-brand {
    color: red;
    font-family: 'Permanent Marker', cursive;
    font-size: 70px !important;
  }

a.navbar-brand:hover{
      text-decoration: none !important;
   
  }

  .navbar-nav>li>a{
      padding-bottom: 16px;
      
  }

.navbar-default .navbar-brand:hover {
    color: red
}

.navbar-default .navbar-nav>li>a {
    color: black
  }

.navbar-default .navbar-brand:focus{
      color: red
}

.navbar-nav {
    padding-bottom: 50px !important;
}

.nav-links-div {
    font-size: 20px;
    display: inline-block;
    margin: auto !important;
    padding-top: 90px;
    width: auto !important;
    margin-left: 50px !important;
}
div.navbar-header {
    display: inline-block;
    margin-left: 20px !important;
}

div.container {
    width: 100%;
}

#brand-link>a:after {
    position:absolute;
    bottom:0;
    left:0;
    height:3px;
    width:0%;
    background-color: red;
    display:block;
    content:'';
    transition:0.3s;
}

#brand-link>a:active:after {
    width: 100%;
}

.navbar-default .navbar-nav>li>a:after {
    position: relative;
    bottom: -9px;
    left:-1px;
    height:5px;
    width:0%;
    background-color: red;
    display:block;
    content:'';
    transition:0.3s;
}

#basic-nav-dropdown {
    padding-left: 0px;
}

.navbar-default .navbar-nav>li>a:hover:after {
    width: 100%;

}

.dropdown:hover .dropdown-menu {
    display: inline-block;
    background-color: white;

}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
        margin: 0;
}
  

.dropdown-menu>li>a {
        padding: 10px 0px;
}

.navbar-default { margin : 0 !important; }

ul {
    display: inline;
    margin: 0;
    padding: 0;
  }
ul li {
    display: inline-block;
}

ul li:hover {
    background: none;
}

ul li:hover ul {
    display: block;
}

ul li ul {
  position: absolute;
  width: 200px;
  height: auto;
  color: black;
}
ul li ul li { 
  background: white; 
  display: block; 
  height: 70px;
}

ul li ul li a {
    padding: 20px;
}

ul li {
    height: 50px;
}

ul li ul {
    margin-top: 10px;
    text-decoration: none;
}

ul li ul li:hover {background: white}

ul li ul:hover {
    text-decoration: none;
}

ul li ul li a {
    display:block !important} 

ul li a:after {
    display:block !important;
    position: relative;
    bottom: -9px;
    left:-1px;
    height:5px;
    width:0%;
    background-color: red;
    display:block;
    content:'';
    transition:0.3s;} 
    
ul li a:hover:after {
    width: 100%;
} 

a{
    color: black;
    text-decoration: none !important;
}
a:hover{
    color: black;
}


.dd-links {
    padding-left: 5px;
}

.dd-ul {
    opacity: 0;
    display: block;
    visibility: hidden;
    transition: all .3s;
    
}

.nav-dd:hover .dd-ul {
    visibility: visible;
    opacity: 1;
}

.nav-dd {
    padding-left: 15px;
    padding-right: 15px;
}

.custom-btn {
    color: white;
    background: #4d98e2;
    border: none;
    border-radius: 12px;
    padding: 15px;
}

.custom-btn:hover {
    background: red;
    transition: background .5s ease-out
}

.date {
    float: right;
    top: -200px;
    margin-top: 70px;
}
.date-text {
    float: left;
    margin-right: 30px;
}
#registerButton {
    float: right;
   
}