.main-p {
  color: white;
  font-family: 'Calibri';
  font-size: 35px;
  font-weight: bold;
  text-align: center;
 
}

.main-home {
  width: 70%;
  margin: auto;
  margin-top: 20vh;
}

.container-home {
  overflow: auto;
  margin-top: 0px;
  background-image: url('./jconcert.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover;
}