p.goal {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin: auto;
    text-align: center;
    line-height: 200px;

}

.goal-container {
    background-image: url(./goal.jpg);
    height: 100vh;
    background-size: cover;
}


.lineup-banner {
    background: none;

    height: 200px !important;
}

h1.lineup {
    color: white;
    font-family: 'Roboto', 'sans-serif';
    text-align:center;
    font-weight: bold;
    margin-top: 10px;
}

.mission-main {
    color: white;
    font-family: 'Comfortaa', 'cursive';
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    width: 70%;
    margin: auto;

}

.mission-p {
    padding-top: 30px !important;
    font-family: 'Calibri';


}
